

body {background-color:#DEE3E7; color:black; font: 11px Verdana}

td.columnas {background-color:#10AEE7;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color:#000000;}

table.borde {border-color:#00FFFF;}

td.titulo {background-color:#006D9C; font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;color:white;}



