a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000099;
	text-decoration: none;
}
a:hover {
	font-size: 11px;
	color:#CC0000;
	text-decoration: none;
}
a:visited {
	font-size: 11px;
	color:#990000;
	text-decoration:underline;
}

.titulo {
	font-size: 10px;
	color: #FFFFFF;
	font-family: Verdana;
	font-weight: bold;
	left: inherit;
	background: #CC0000;
}
.columna {
	font-size: 11px;
	color: #000000;
	font-family: Verdana;
	font-weight: normal;
	left: inherit;
	background-color: #FFFFE8;
}

.columnaVacia {
	font-size: 11px;
	color: #000000;
	font-family: Verdana;
	font-weight: normal;
	left: inherit;
	background-color:#FFFFFF
}

.columnab {
	font-size: 11px;
	color: #444444;
	font-family: Verdana;
	font-weight: normal;
	left: inherit;
	background-color: #FFFFFF;
}

.destacado {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.campoLogin {
	font-size: 11px;
	text-decoration: none;
	height: 16px;
	width: 120px;
}
.estandar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.icon {
    margin: 0;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color:#FFFFFF;
	color: #444444;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #444444;
}
.boton {
        background-color:#E0E0E0;   
	border-top-color: #E0E0E0;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
table {
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border: 1px solid black;
}
.error {
	font-size: 11px;
	color: #444444;
	font-family: Verdana;
	font-weight: normal;
	left: inherit;
	background-color: #CCCCCC;
}
.FondoMenu{ background-color:#CC0000; color:#FFFFFF;}
.FondoMenu a,.FondoMenu font a{ color:#FFFFFF;}