@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "com.larrainvial.gpatrimonial.orders.components.*";
@namespace components1 "com.hillelcoren.components.*";



@font-face {
	src:url("assets/fonts/CONSOLAB.TTF");
	fontWeight: bold;
	fontFamily: myFont;
	embedAsCFF: false;
}

@font-face {
	src:url("assets/fonts/CONSOLA.TTF");
	fontFamily: acFont;
	fontweight: normal;
	embedAsCFF: true;
}

@font-face {
	src:url("assets/fonts/opensans-regular-webfont.ttf");
	fontFamily: opensansRegularWebfont;
	fontweight: normal;
	embedAsCFF: true;
}


@font-face {
	src:url("assets/fonts/opensans-semibold-webfont.ttf");
	fontFamily: opensansSemiboldSebfont;
	fontweight: normal;
	embedAsCFF: true;
}


@font-face {
	src:url("assets/fonts/HugsKisses.ttf");
	fontFamily: HugsKisses;
	fontweight: normal;
	embedAsCFF: true;
}


mx|Label{
	color:#acadaf;	
	fontSize:12;	
}


s|TextInput{
	color:#666666;
	fontSize:12;
}

.classVBox mx|HBox{
	verticalAlign:middle;
}	
	




components1|AutoComplete{
	color:#666666;
}

components|InputNumber{
	fontSize:12;
}


/******************/

/*
s|WindowedApplication {
	themeColor: #c0c0c0;
	fontFamily: myFont;
	font-size: 12;
}

s|TitleWindow {
	themeColor: #c0c0c0;
	fontFamily: myFont;
	backgroundColor: #141414;
	font-size: 12;
}

mx|Window {
	themeColor: #c0c0c0;
	fontFamily: myFont;
	font-size: 12;
}


mx|TextInput {
	themeColor: #c0c0c0;
	fontFamily: myFont;
	font-size: 12;
	color: #000000;
}


components|AutoComplete{
	fontFamily: acFont;
	font-size: 12;
}

.coreFont
{
	fontFamily: acFont;
}

components|CustomPanel {
	color: #ffffff;
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #333333;
	borderThicknessLeft: 5;
	borderThicknessRight: 5;
	borderThicknessBottom: 5;
	headerHeight: 20;
	cornerRadius: 0;
	font-size: 12;
	dropShadowEnabled: false;
	backgroundColor: #141414;
	titleBackgroundSkin: Embed(source="assets/skins/Panel_borderSkin.png", scaleGridLeft="2", scaleGridTop="22", scaleGridRight="270", scaleGridBottom="188");
	titleStyleName: "mypanelTitle";
}


s|Panel {
	color: #ffffff;
	borderStyle: solid;
	borderThickness: 1;
	borderColor: #333333;
	borderThicknessLeft: 5;
	borderThicknessRight: 5;		   
	borderThicknessBottom: 5;
	headerHeight: 20;
	cornerRadius: 0;
	font-size: 12;
	dropShadowEnabled: false;
	backgroundColor: #141414;
	titleBackgroundSkin: Embed(source="assets/skins/Panel_borderSkin.png", scaleGridLeft="2", scaleGridTop="22", scaleGridRight="270", scaleGridBottom="188"); 				   
	titleStyleName: "mypanelTitle";
}

.mypanelTitle {
	letterSpacing: 1;
	color: #FFFFFF;
	fontSize: 12;
	fontWeight: bold;
}

.messageButton
{
	up-skin:        Embed("/assets/icons/offline.png");
	over-skin:      Embed("/assets/icons/offline.png");
	down-skin:      Embed("/assets/icons/offline.png");
	selected-up-skin:   Embed("/assets/icons/online.png");
	selected-over-skin: Embed("/assets/icons/online.png");
	selected-down-skin: Embed("/assets/icons/online.png");	
}

.serverButton
{
	up-skin:        Embed("/assets/icons/offline.png");
	over-skin:      Embed("/assets/icons/offline.png");
	down-skin:      Embed("/assets/icons/offline.png");
	selected-up-skin:   Embed("/assets/icons/online.png");
	selected-over-skin: Embed("/assets/icons/online.png");
	selected-down-skin: Embed("/assets/icons/online.png");	
}

.indexButton
{
	up-skin:        Embed("/assets/icons/Indices.png");
	over-skin:      Embed("/assets/icons/Indices.png");
	down-skin:      Embed("/assets/icons/Indices.png");
	selected-up-skin:   Embed("/assets/icons/Indices.png");
	selected-over-skin: Embed("/assets/icons/Indices.png");
	selected-down-skin: Embed("/assets/icons/Indices.png");	
}



mx|DataGrid
{
	headerColors: #44413d, #2d2b28;
	alternatingItemColors: #2b2a2a, #2b2a2a;
	border-color: #555555;
	verticalGridLineColor: #555555;
	color: #dddddd;
	headerStyleName: dataGridHeader;
	rollOverColor:#444444;
	textRollOverColor:#ffffff;
	selectionColor: #212121;
	font-size: 10;
	textSelectedColor:#ffffff;
	headerStyleName: "mydataGridHeaderStyle";
}

mx|AdvancedDataGrid
{
	headerColors: #44413d, #2d2b28;
	alternatingItemColors: #2b2a2a, #2b2a2a;
	border-color: #555555;
	verticalGridLineColor: #555555;
	color: #dddddd;
	headerStyleName: dataGridHeader;
	rollOverColor:#444444;
	textRollOverColor:#ffffff;
	selectionColor: #212121;
	font-size: 10;
	textSelectedColor:#ffffff;
	headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
	color: #ffffff;
	font-size: 10
}

mx|Alert
{
	backgroundColor: #141414;
	font-size: 12;
	color:#eeeeee;
		
}

.myCustomTextInputStyleName 
{
	color: red;
	fontStyle: italic;
	fontWeight: bold;
	font-size: 12
}

.PanelMensaje {
	
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	corner-radius: 0;
	header-height: 28;	
	font-family: myFont;
	font-size: 12;
	font-weight: normal;
}	 

mx|TabNavigator {
	backgroundColor: #333333;
	borderColor: #aab3b3;
	color: #ffffff;
	font-size: 12;
	tabStyleName: "myTabs";
	firstTabStyleName: "myTabs";
	lastTabStyleName: "myTabs";
	selectedTabTextStyleName: "mySelectedTabs";
}

.myTabs {
	fillColors: #000000, #000000;
	backgroundColor: #333333;
	borderColor: #333333;
	textRollOverColor: #ffffff;
	themeColor: #000000;
	font-size: 12;
	
}

.mySelectedTabs {
	color: #ffff00;
	textRollOverColor: #ffffff;
	font-size: 12;
}

s|FormItem {
	labelStyleName: customTextAlignLabel;
	font-size: 12;
}

.customTextAlignLabel {
	textAlign: left;
	
}

.MyLabel {
	fontFamily:myFont;
	font-weight:bold;
	font-size: 12;
	color:white;
}

.MyButton {
	fontFamily:acFont;
	font-size: 12;
	color:white;
}

s|TextInput {	
	fontFamily: myFont;
	font-size: 12;
	color: #BBBBBB;
}*/

/*RadioButton
{
color: #ffffff;
font-size: 12;
textRollOverColor: #ffff00;
}*/
/* JS: MODIFICATION */
/*s|ComboBox{
	fontFamily: acFont;
	fontWeight : bold;

	color: black;
	/*backgroundColor: #141414;
	
}


s|ComboBox s|TextInput {
	fontFamily: opensansRegularWebfont;
	color: black;
	
}

*/
/* JS:END */






