<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
	<!-- <ip>201.239.167.204</ip> -->
	<server>
		<ip>127.0.0.1</ip> 
		<!--  <ip>201.214.166.244</ip>-->
		<port>9003</port>
	</server>
	<chat>
		<!-- <ip>190.162.247.94</ip> -->
		<ip>127.0.0.1</ip>
		<port>9002</port>
	</chat>
</config>
